body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.main-header-navigation a:focus{
  color: #a9a9a9;
}
a.main-header-logo:hover{
  background-image: url("img/nerds-logo-hover.svg");
}
.site-navigation a:hover,
.user-navigation a:hover{
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #a9a9a9;
}
