body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
  /* width: 1440px; */
}

a {
  text-decoration: none;
}

img {
 max-width: 100%;
 height: auto;
}

.main-header {
  width: 1440;
  padding: 10px;

  background-color: #eeeeee;
}


 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-----------------------*/

.container {
    width: 1160px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* .main-navigation {
   ...
    display: flex;
    justify-content: space-between;
} */
















/*-----------------------*/


.main-navigation {
  width: 1160;

  margin: 0 auto;

 /* background-color: #eeeeee; */
 font-size: 16px;
 line-height: 30px;
 font-weight: 500;
 color: #000000;

 display: flex;
 justify-content: space-between;
}

.site-navigation,
.user-navigation {
  list-style: none;

}

.site-navigation a,
.user-navigation a {
  color: #000000;
  text-transform: uppercase;
}

.logo {
  width: 160px;
  /* margin-left: 140px; */

  /* Временно для сетки */
  /* display: block; */
}

.site-navigation {
  width: 440px;
  margin: auto;
  margin: 0;
  padding: 0;
  list-style: none;



  display: flex;
  justify-content: space-between;
}

.user-navigation {
  width: 120px;
  /* margin-right: : 140px; */
  margin: 0;
  padding: 0;

  list-style: none;


}

 /* .nav-container {
  display: flex;
  justify-content: space-around;
} */




.logo a:hover {
  opacity: 0.6;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.logo a:active,
.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.active {
  border-bottom: 1px solid #e74246;
}
/* .site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  border-bottom: 1px solid #e74246;
} */

.features {

  display: flex;
  justify-content: space-around;
  width: 1130px;
  margin: 0 auto;
}

.slider-slides{
  width: 1440;
  padding: 10px;
}

.service,
.about,
.partners,
.footer-social,
.map {
  width: 1440;
  padding: 10px;
}

.service-list {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  margin: 0 auto;

  list-style: none;
}

.service-block {
  width: 300px;
  /* padding: 10px; */
  /* margin: 10px; */
}

.about-section {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto;
  list-style: none;

}

.social-section {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto;

}

/* .social-list {
  list-style: none;
} */

.friendship {
  margin-right: 220px;
}


.features-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

}

.map {
  width: 1440px;
   padding: 10px;
   margin: 0 auto;
}

.slider {
  background-color: #eeeeee;
}

.button {
  /* font: inherit; */
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  /*color: #ffffff;
  background-color: #000000; */
  border: none;
}

/* .button:active{
  color: rgba(255,255,255,0.3);
} */

.seemore {
  color: #ffffff;
  background-color: #fb565a;
}

.seemore:hover {
  background-color: #e74246;
}

.seemore:active {
  color: rgba(255,255,255,0.3);
  background-color: #d7373b;
}

/* .seemore-text:active{
  opacity: 0.3;
} */

.service-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.order-red {
  color: #ffffff;
  background-color: #fb565a;
}

.order-red:hover {
  color: #ffffff;
  background-color: #e74246;
}

.order-red:active {
  color: rgba(255,255,255,0.3);
  background-color: #d7373b;
}

.order-green {
  color: #ffffff;
  background-color: #00ca74;
}

.order-green:hover {
  color: #ffffff;
  background-color: #00bc6c;
}

.order-green:active {
  color: rgba(255,255,255,0.3);
  background-color: #00aa62;
}

.order-yellow {
  color: #ffffff;
  background-color: #efc84a;
}

.order-yellow:hover {
  color: #ffffff;
  background-color: #eab534;
}

.order-yellow:active {
  color: rgba(255,255,255,0.3);
  background-color: #e5a722;
}

.catalog-main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  height: 380px;
  background-color: #eeeeee;
  margin: auto;
}

.catalog-titles {
  text-transform: uppercase;
}

.section-header {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.range {
  font-size: 16px;
  line-height: 22px;
}

.number {
  font-size: 45px;
  font-weight: bold;
  line-height: 10.06px;
}

.small-symbol {

}

.section-features {
  color: #283136;
}

.number,
.section-features {
  line-height: 35px;
}

.adress-title,
.catalog-titles,
.catalog-item {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.number sup {
  top: -0.25em;
}

.catalog-item,
.catalog-button {
  text-transform: uppercase;
}

.adress,
.info-text {
  color: #666666;
}

.footer-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.discount {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

.partners a {
  opacity: 0.6;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.3;
}

.sorting button {
 background-color: none;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
}


.form-write-us input,
.form-write-us textarea {
  color: #444444;
}
.form-write-us input:hover,
.form-write-us textarea:hover
{
  color: #444444;
}

.sorting button {
  opacity: 0.3;
}

.form-write-us input:focus,
.form-write-us textarea:focus {

}

.form-write-us input:focus::placeholder,
.form-write-us textarea:focus::placeholder {
  color: #444444;
  opacity: 0.5;
}

.sorting button:hover {
  opacity: 0.6;
}

.sorting button:active {
  opacity: 1;
}

.form-write-us input:invalid,
.form-write-us textarea:invalid {
  color:#fb565a;
  border: 1px solid #fb565a;
}

.show,
.catalog-navigation button {
  color: #000000;
  background-color: #eeeeee;
  font-weight: 500;
}

.show:hover,
.catalog-navigation button:hover {
  background-color: #dfdfdf;
}

.show:active,
.catalog-navigation button:active {
  color: rgba(0,0,0,0.5);
  background-color: #d5d5d5;
  box-shadow: inset 0 2px 0 0 #bfbfbf;
}

button.catalog-active {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.modal-close {
  color:red;
  opacity: 0.6;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.grid {
  opacity: 0.6;
  font-size: 16px;
  line-height: 20px;
}

.grid:hover {
  opacity: 1;
}

.grid:disabled {
  opacity: 0.3;
}

.show,
.info-text,
.button-price,
.catalog-button,
.field {
  font-size: 16px;
  line-height: 18px;
}

.show,
.catalog-button {
  font-weight: 500;
}

.price {
  color: #ffffff;
  background-color: #fb565a;
  font-weight: 500;
}

.price:hover {
  background-color: #e74246;
}

.price:active {
  background-color: #d7373b;
}

.info {
  background-color: #eeeeee;
}

.templates:hover {
  box-shadow:  0 0 2px 2px #bfbfbf;
}

.field {
  font-weight: 700;
}
