body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  padding: 10px;
  background-color: #eeeeee;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-map {
  width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  height: 50px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-right: -18px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.site-navigation,
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: inline-block;
  height: 33px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation {
  justify-content: space-between;
  width: 440px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-right: 38px;
  list-style: none;
}

.site-navigation li:nth-child(2n+1) {
  padding-left: 2px;
}

.user-navigation {
  width: 120px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin-right: 25px;
  list-style: none;
}

.user-navigation .cart {
  position: relative;
  padding-left: 50px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 11px;
  width: 16px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logo a:hover {
  opacity: 0.6;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.logo a:active,
.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.active {
  border-bottom: 3px solid #e74246;
}

.features {
  display: flex;
  justify-content: space-between;
}

.service-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-block {
  width: 300px;
}

.service-list .service-block:first-child {
  margin-right: 100px;
}

.service-list .service-block:nth-child(2) {
  margin-right: 100px;
}

.service-list .service-block:last-child {
  margin-right: 60px;
}

.service-list {
  padding-top: 70px;
}

.service-item {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.service-block p {
  width: 250px;
}

.about-section {
  display: flex;
  justify-content: space-between;
}

.social-section {
  display: flex;
  justify-content: space-between;
}

.shape-vk {
  margin-left: 0px;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.vk-icon {
  margin-top: 32px;
  margin-left: 27px;
}

.fb-icon {
  margin-top: 30px;
  margin-left: 35px;
}

.insta-icon {
  margin-top: 30px;
  margin-left: 30px;
}

.shape-fb {
  margin-left: 12px;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.shape-inst {
  margin-left: 12px;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.shape-vk:hover,
.shape-fb:hover,
.shape-inst:hover {
  background-color: #e74246;
}

.shape-vk:active,
.shape-fb:active,
.shape-inst:active,
.shape-vk:focus,
.shape-fb:focus,
.shape-inst:focus{
  background-color: #d7373b;
}

.vk-icon:active,
.fb-icon:active,
.insta-icon:active,
.vk-icon:focus,
.fb-icon:focus,
.insta-icon:focus{
  opacity: 0.3;
}

.social-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  padding-left: 0px;
  list-style: none;
}

.friendship {
  margin-right: 220px;
}


.features-title {
  margin-bottom: 28px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.subscription {
  width: 500px;
  padding-top: 3px;
  padding-right: 10px;
}

.slide  {
  display: flex;
  width: 900px;
  padding-left: 15px;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls .active-element::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 19px;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 117px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.seemore {
  display: block;
  width: 240px;
  padding: 13px 0;
  margin-top: 37px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  background-color: #fb565a;
}

.write-to-us {
  width: 220px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.seemore:active {
  color: rgba(255,255,255,0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.order-red {
  display: block;
  width: 160px;
  padding: 13px 0;
  margin-top: 32px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  background-color: #fb565a;
}

.order-red:hover {
  color: #ffffff;
  background-color: #e74246;
}

.order-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.order-green {
  display: block;
  width: 160px;
  padding: 13px 0;
  margin-top: 32px;
  color: #ffffff;
  font-size: 16px;
  background-color: #00ca74;
  border-radius: 3px;
}

.order-green:hover {
  color: #ffffff;
  background-color: #00bc6c;
}

.order-green:active {
  color: rgba(255,255,255,0.3);
  background-color: #00aa62;
}

.order-yellow {
  display: block;
  width: 160px;
  margin-top: 32px;
  padding: 13px 0;
  font-size: 16px;
  color: #ffffff;
  background-color: #efc84a;
  border-radius: 3px;
}

.order-yellow:hover {
  color: #ffffff;
  background-color: #eab534;
}

.order-yellow:active {
  color: rgba(255,255,255,0.3);
  background-color: #e5a722;
}

.about {
  margin-top: 115px;
}

.about-title {
  width: 660px;
  margin-bottom: 30px;
}

.about-section-1 p {
  width: 650px;
}

.about-list {
  margin: 0;
  padding: 0;
  margin-left: 34px;
  list-style: none;
}

.about-item {
  position: relative;
  padding-bottom: 25px;
}

.about-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 1px;
  top: 12px;
  left: -35px;
  border-bottom: 2px solid red;
}

.about-section-1 {
  margin-right: -55px;
}

.about-section-2 {
  margin-left: 205px;
  margin-top: 10px;
}

.about-section-2 img {
  margin-left: 0px;
}

.about-section-2 table {
  margin-left:  -3px;
}

.section-header-1 {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-header-2 {
  margin-top: 28px;
  margin-bottom: 25px;
  margin-left: 17px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.number {
  padding-top: 35px;
  padding-right: 20px;
  font-size: 45px;
  font-weight: bold;
  line-height: 10.06px;
}

.small-symbol {
  font-size: 26px;
}

.number sup {
  top: -0.6em;
}

.section-features {
  padding-top: 15px;
  padding-top: 32px;
  color: #283136;
  line-height: 20px;
}

.partners {
  margin-top: 33px;
}

.partners-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-top: 2px solid rgba(0,0,0,0.3);
  border-bottom: 2px solid rgba(0,0,0,0.3);
  list-style: none;
}

.partners-list li:nth-child(1) {
  margin-top: 10px;
}

.partners-list li:nth-child(2) {
  margin-right: 10px;
  margin-top: -4px;
}

.partners-list li:nth-child(3) {
  margin-right: 20px;
  margin-top: 10px;
}

.partners-list li:nth-child(4) {
  margin-right: 45px;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.partners-list:not(:nth-child(4n)) li + li::before {
  content: "";
  position: absolute;
  left: 280px;
  width: 2px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(10px);
}

.partners-list li + li:nth-child(2)::before {
  top: 53px;
  left: 580px;
}

.partners-list li + li:nth-child(3)::before {
  top: 53px;
  left: 880px;
}

.background-title {
  max-width: 100%;
  height: 160px;
  padding-top: 60px;
  background-color: #eeeeee;
}

.catalog-main-title {
  margin-top: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.catalog-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: -35px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-form-sorting {
  width: 260px;
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 20px;
}

.catalog-form-sorting fieldset {
  border-style: none;
}

.catalog-form-sorting label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.catalog-sorting {
  width: 760px;
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 0px;
}

.sorting-navigation {
  display: flex;
  justify-content: space-between;
}

.sorting {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 360px;
  margin-top: 25px;
  font-size: 14px;
  list-style: none;
}

.arrows {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort {
  margin-right: 24px;
}

.sorting .sort:nth-child(3) {
  margin-right: 28px;
}

.items-pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-titles,
.form-titles {
  text-transform: uppercase;
}

.form-titles {
  margin-top: 45px;
  margin-bottom: 0px;
}

.catalog-form-sorting .grid:nth-child(3) {
  padding-top: 17px;
}

.catalog-form-sorting h2:nth-child(6) {
  margin-top: 45px;
}

.catalog-form-sorting div:nth-child(7) {
  padding-top: 15px;
}

.range {
  font-size: 16px;
  line-height: 22px;
}

.filter-item {
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 16px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.grid-item {
  margin: 0;
  padding: 0;
  margin-top: 55px;
  border: none;
}

.grid-item ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.grid-item legend {
  margin-top: 30px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -25px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -1px;
  width: 27px;
  height: 23px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-checkbox:checked + label::before {
  left: -33px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.specificity ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.specificity {
  margin: 0;
  padding: 0;
  margin-top: 44px;
}

.form-titles + ul {
  margin-top: -2px;
  margin-left: 32px;
}

.adress-title,
.catalog-titles,
.form-titles,
.catalog-item {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}



.catalog-item,
.catalog-button {
  text-transform: uppercase;
  padding-left: 140px;
}

.catalog-items {
  margin-top: 22px;
}

.adress {
  margin-top:23px;
  color: #666666;
  line-height: 19px;
}


.info-text {
  width: 200px;
  max-height: 140px;
  min-height: 100px;
  overflow: auto;
  padding:0 80px;
  margin-top:10px;
  color: #666666;
  line-height: 19px;
  text-align: center;
}

.footer-title {
  margin-top: 68px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.discount {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}

.adress-relative {
  position: relative;
}

.main-footer-adress {
  position: absolute;
  top: 54px;
  width: 220px;
  padding:  30px 48px 48px 51px;
  z-index: 3;
  background: #ffffff;
}

.map iframe {
  position: relative;
  z-index: 0;
  border: none;
}

.map img {
  width: 100%;
  height: 416px;
  position: relative;
  z-index: 0;
}

.map {
  margin-top: 85px;
}

.sorting button {
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 background-color: none;
}

.form-write-us input,
.form-write-us textarea {
  color: #444444;
}

.form-write-us input:hover,
.form-write-us textarea:hover
{
  color: #444444;
}

.form-write-us input:focus,
.form-write-us textarea:focus {
  color: #000000;
}

.form-write-us input:focus::placeholder,
.form-write-us textarea:focus::placeholder {
  color: #444444;
  opacity: 0.5;
}

.form-write-us input:invalid,
.form-write-us textarea:invalid {
  color:#fb565a;
  border: 1px solid #fb565a;
}

.show,
.catalog-navigation button {
  color: #000000;
  font-weight: 500;
  background-color: #eeeeee;
}

.show:hover,
.catalog-navigation button:hover {
  background-color: #dfdfdf;
}

.catalog-navigation button:active {
  color: rgba(0,0,0,0.5);
  background-color: #d5d5d5;
  box-shadow: inset 0 2px 0 0 #bfbfbf;
}

button.catalog-active {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.grid {
  margin-left: 2px;
  padding-top: 19px;
  padding-bottom: 2px;
  opacity: 0.6;
  font-size: 16px;
  line-height: 20px;
}

.grid:hover {
  opacity: 1;
}

.grid:disabled {
  opacity: 0.3;
}

.show,
.info-text,
.button-price,
.field {
  font-size: 16px;
  line-height: 18px;
}

.show {
  display: block;
  width: 260px;
  padding: 13px 0;
  margin-top: 48px;
  font-weight: 500;
  border-radius: 3px;
}

.catalog-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  padding: 0;
  padding-left: 2px;
  list-style: none;
}

.pagination {
  display: block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  color: #000000;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-next {
  display: block;
  height: 50px;
  width: 260px;
  color: #000000;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  background-color: #eeeeee;
  border-radius: 3px;
}

.catalog-active {
  background-color: #ffffff;
  border: 2px solid #eeeeee;
}

.catalog-active:hover,
.pagination:hover,
.pagination-next:hover {
  background-color: #dfdfdf;
}

.catalog-active:active,
.pagination:active,
.pagination-next:active,
.catalog-active:focus,
.pagination:focus,
.pagination-next:focus,
.show:active,
.show:focus {
  background-color: #dfdfdf;
  box-shadow: inset 0 2px 0 0 #bfbfbf;
}

.price {
  display: block;
  width: 200px;
  margin-top: 30px;
  margin-left: 78px;
  padding: 13px 0;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 3px;
  background-color: #fb565a;
}

.price:hover {
  background-color: #e74246;
}

.price:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.popup-slide {
  position: absolute;
  top: 385px;
  display: none;
  height: 231px;
  width: 360px;
  background-color: #eeeeee;
}

.list-element:hover .popup-slide {
  display: block;
}

.list-elem {
  padding-bottom: 25px;
}

.list-element {
  position: relative;
  height: 616px;
}

.list-element:hover {
  display: block;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.frame {
  height: 40px;
  background-color: #4d4d4d;
  opacity: 0.12;
  border-radius: 5px 5px 0 0;
}

.frame-part {
  width: 60;
}

.part-flex {
  display: flex;
  justify-content:flex-start;
}

.circle {
  display: block;
  height: 13px;
  width: 13px;
  margin-left: 9px;
  margin-top: 11px;
  background-color: #ffffff;
  border-radius: 50%;
}

.frame-part .circle:first-child {
  margin-left: 20px;
}

 .list-element:hover .frame{
  opacity: 1;
}

.sorting button {
  opacity: 0.3;
}

.sorting button:hover {
  opacity: 0.6;
}

.sorting button:active {
  opacity: 1;
}

a.arrow {
  display: inline-block;
  margin: 0 10px;
  font-size: 0;
}

.arrow::before {
  content: "";
  display: inline-block;
  border: 10px solid rgba(0,0,0,0.3);
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow:hover::before {
  border: 10px solid rgba(0,0,0,0.6);
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up:hover::before {
  border-top-width: 0;
}

.arrow-down:hover::before {
  border-bottom-width: 0;
}

.arrow:active::before,
.arrow:focus::before {
  border: 10px solid rgba(0,0,0,1);
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up:active::before,
.arrow-up:focus::before {
  border-top-width: 0;
}

.arrow-down:active::before,
.arrow-down:focus::before {
  border-bottom-width: 0;
}

.field {
  font-weight: 700;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popup {
  position: fixed;
  display: none;
  top:150px;
  left:450px;
  width: 780px;
  height: 410px;
  padding: 85px;
  padding-top: 75px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 10px #bfbfbf;
}

.popup-show {
  display: block;
  animation: bounce 0.6s;
}

.popup-error {
  animation: shake 0.6s;
}

.write-us {
  margin-bottom: 30px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-close {
  position: absolute;
  top: 85px;
  left: 849px;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

.modal-close {
  opacity: 0.6;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.write-us-frame {
  border: none;
}

.write-us-frame label {
  display: block;
  font-weight: 700;
}

.container-modal {
  width: 780;
}

.modal-flex {
  display: flex;
  flex-wrap: wrap;
}

.modal-flex .modal-block:first-child {
  margin-right: 40px;
}

.modal-flex .modal-block:last-child {
  margin-top: 30px;
}

.modal-block input{
  width: 360px;
  line-height: 50px;
}

.modal-block textarea{
  width: 760px;
  height: 120px;
}

.send {
  width: 260px;
  margin-left: 15px;
  margin-top: 30px;
}
